{% form_theme form '@Admin/form/bootstrap_4_layout.html.twig' %}

{{ form_start(form) }}

<div class="row">
    <div class="col-sm-6">
        {{ form_row(form.name) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.slug) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.tags) }}
    </div>
    <div class="col-sm-6">
        {{ form_row(form.active) }}
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        {{ form_row(form.content) }}
    </div>
</div>
{{ form_widget(form) }}

{{ form_end(form) }}